
@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
@model string
<div class="container mt-5">
    <form action="/Home/DoiMatKhau" method="post">
        <table>
            <tr>
                <td>Mật khẩu cũ</td>
                <td>
                    <input class="form-control" type="password" name="oldPass" />
                </td>
            </tr>
            <tr>
                <td>Mật khẩu mới</td>
                <td>
                    <input class="form-control" type="password" name="newPass" />
                </td>
            </tr>
            <tr>
                <td>Xác nhận mật khẩu mới</td>
                <td>
                    <input class="form-control" type="password" name="reNewPass" />
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <input class="btn btn-primary" type="submit" Value="Xác nhận" />
                </td>
            </tr>

            @if (Session["mk_error"] != null)
            {
                <tr>
                    <td colspan="2">@Session["mk_error"]</td>
                </tr>
            }
        </table>
    </form>
</div>

