@using BLDAL
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
@model List<Game>
<div class="container">
    <div class="row">
        <h1>Kết quả tìm kiếm</h1>
    </div>
    @if (Model!=null&&Model.Count != 0)
    {
        <div class="row">
            @foreach (Game game in Model)
            {
                <div class="col-4">
                    <div class="card" style="margin:10px;">
                        <a href="/Home/ChiTiet/@game.MaGame">
                            <img src="/Content/Images/@game.HinhDaiDien" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title" style="height:80px;">@game.TenGame</h5>
                            <h3 class="card-text text-danger">@game.DonGia</h3>
                            <a href="@Url.Action("AddItem", "Cart", new { @id = game.MaGame })" class="btn btn-primary">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            }



        </div>
    }
    else {
        <div class="row">
            <h3>Không có kết quả phù hợp</h3>
        </div>
    }
</div>