<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLDAL.Properties.Settings.CHGameConnectionString"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=CHGame;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>